header.header
  nav.nav.nav--tours
    a.nav__el(href='#') All crew tours
  .header__logo 
    img(src='/images/anchor_blue.png' alt='Crew tour logo') 
  nav.nav.nav--user
  //- a.nav__el(href='#') My bookings
  //- a.nav__el(href='#')
  //-   img.nav__user-img(src='images/user.jpg' alt='User picture')
  //-   span Simone
  button.nav__el Log in
  button.nav__el.nav__el--cta Sign up