extends home 

block content 
  main.intro_main
    div.wrapper
      div.typing Welcome to Crew Tours. 
    video.video(autoplay loop muted type='video.mp4' src=`video/intro.mp4`, alt='introduction video')
    a.btn_start.btn--blue.box(href='/tours') Let's explore