extends home 



block content
  main.main
    .user-view
      .user-view__content
        .user-view__form-container
          h2.heading-secondary.ma-bt-md= `${user.name.split(' ')[0]}'s account settings` 
          form.form.form-user-data
            .form__group.form__photo-upload
              img.form__user-photo(src=`/images/users/${user.avatar}`, alt='User photo')
              a.btn-text(href='') New avatar
            .form__group
              label.form__label(for='name') Name
              input#name.form__input(type='text', value=`${user.name}`, required, name='name')
            .form__group.ma-bt-md
              label.form__label(for='email') Email address
              input#email.form__input(type='email', value=`${user.email}`, required, name='email')
            .form__group.right
              button.btn.btn--small.btn--green Save settings
  

      



        